/* ================= MOBILE RESPONSIVE ================= */

@media (max-width: 768px){

/* Navbar */

.navbar{
    flex-direction: column;
    align-items: center;
    padding:15px;
}

.logo img{
    width:130px;
}

.tagline{
    text-align:center;
    font-size:14px;
}

.nav-links{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
    padding:15px 0;
}

.btn{
    margin-top:10px;
}

/* Hero */

.hero{
    height:auto;
    padding:120px 20px 70px;
}

.hero-content{
    width:100%;
    text-align:center;
}

.hero h1{
    font-size:32px;
    line-height:42px;
}

.hero p{
    font-size:16px;
}

.hero-buttons{
    display:flex;
    flex-direction:column;
    gap:15px;
}

/* About */

.container{
    flex-direction:column;
    gap:30px;
}

.left,
.right{
    width:100%;
}

.right img{
    width:100%;
}

/* Products */

.product-container{
    display:grid;
    grid-template-columns:1fr;
    gap:25px;
}

/* Solar */

.solar-container{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
}

.solar-card img{
    width:100%;
}

/* Applications */

.application-container{
    display:grid;
    grid-template-columns:1fr;
    gap:20px;
}

.application-card img{
    width:100%;
}

/* Why Choose */

.features{
    display:grid;
    grid-template-columns:1fr;
    gap:20px;
}

/* Stats */

.stats{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}

/* Process */

.process-container{
    display:grid;
    grid-template-columns:1fr;
    gap:20px;
}

/* CTA */

.cta{
    padding:40px 20px;
    text-align:center;
}

/* Footer */

.footer-content{
    display:grid;
    grid-template-columns:1fr;
    text-align:center;
    gap:25px;
}

footer a{
    display:block;
    margin:8px 0;
}

img{
    max-width:100%;
    height:auto;
}

}


/* ================= SMALL MOBILE ================= */

@media(max-width:480px){

.hero h1{
    font-size:26px;
    line-height:36px;
}

.hero p{
    font-size:15px;
}

.stats{
    grid-template-columns:1fr;
}

.solar-container{
    grid-template-columns:1fr;
}

.nav-links{
    gap:10px;
}

.logo img{
    width:110px;
}

}